

/* base css */

.base-section {
    width: 100%;
    margin-top: 6.0625rem;
    text-align: center;
}

.base {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.base-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.base__item-center {
    text-align:center;
    margin-top: 7.5625rem;
    margin-bottom: 4.4375rem;
}

.base__item-heading {
    font-family: 'Poppins-SemiBold', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 51px;
    color: var(--dark-color);
}

.base__item-middle {
    grid-column: 1/4;
    margin: 6.875rem 0 4.625rem 0;
}


.base__item {
    width: 100%;
    min-height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.base__item-h2 {
    font-family: 'Poppins-SemiBold', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    color: var(--dark-color);
    padding-top: 3.3125rem;
    padding-bottom: 0.6875rem;
}

.top {
    padding-top: 3.8rem;
}

.bottom {
    padding-top: 2.7rem;
}

.base__item-p {
    font-family: 'ProximaNova-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--dark-color);
    width: 60%;
}

.base__box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0.4375rem 1rem 4.4375rem 1rem;
}

.base-image .nike {
    margin-right: 2.1875rem;
}

.base-image .figma {
    margin-right: 0.625rem;
}

.base-image .kronos {
    margin-right: 1.3125rem;
}

.base__image-kronos {
    min-width: 116px;
    min-height: 52px; 
    padding-top: 2.1875rem;
}

.base-content {
    text-align: start;
}

.base-content__span {
    font-family: 'Poppins-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--light-blue-color);
}

.base-content__h2 {
    width: 197px;
    font-family: 'Poppins-SemiBold', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: var(--dark-color);
}

.base-content__p{
    width: 192px;
    height: 88px;
    font-family: 'ProximaNova-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: var(--dark-color);
}

.base__square {
    display: flex;
    justify-content: center;
    text-align: start;
}

.base-image {
    margin-right: 1.5625rem;
}

.base-images {
    margin-right: 1.3rem;
}

.base-body__h2 {
    width: 230px;
    font-family: 'ProximaNova-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: var(--dark-color);
    margin-bottom: 1rem;
}

.base-body__icon {
    display: block;
    margin-bottom: 1.1rem;
}

.base-body__icon i {
    width: 12px;
    height: 11px;
    padding-right: 20px;    
    color: #FFC600;
    cursor: pointer;
}

.liver {
    color: #C1C8CE !important;
}

.base-body__span {
    font-family: 'Poppins-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--second-color);
}

.base-body__spanafter {
    color: var(--light-blue-color);
    position: relative;
}

.base-body__spanafter::after {
    content: '';
    position: absolute;
    width: 3rem;
    height: 2px;
    background-color: var(--light-blue-color);
    bottom: 0.5rem;
    left: 0;
}

.base-form {
    display: flex;
    justify-content: center;
    margin: 8rem 0 6rem 0;
    width: 100%;
}

.base-form__input {
    width: 60%;
    border: 2px solid var(--primary-color);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 22px 0 22px 20px;
}

.base-form__input::placeholder {
    color: var(--dark-color);
    opacity: 35%;
    font-family: 'ProximaNova-Regular',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.base-form__input:focus {
    outline: var(--primary-color);
}

.base-form__btn {
    background-color: var(--primary-color);
    color: #fff;
    font-family: 'Poppins-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 1.1rem 1.6875rem;
}
/* base-mobile */
.base-mobile {
    display: none;
}

/* media quers */

@media only screen and (max-width: 1450px) {
    .base {
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }

    .base {
        grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
        gap: 1.5rem;
    }

    .base__item-heading {
        margin-top: 1rem;
        justify-self: start;
        margin-left: 0;
    }

    .base__box {
        justify-items: start;
    } 

    .base__square {
        margin-top: 2rem;
        justify-items: start;
    }

    .base-form {
        width: 100%;
    }    

    .base-form__btn {
        font-size: 1rem;
        padding: 0.5rem;
    }
}


@media only screen and (max-width: 1136px) {
    .base {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    .base__box {
        display: grid;
        margin-top: 0;
    }

    .nike {
        padding-top: 68px;
    }
    
    .base__square {
        display: grid;
    }

    .base-images, .base-image {
        margin-right: 1.3rem;
        margin-bottom: 1.3rem;
    }

}

@media only screen and (max-width: 992px) {

    .base {
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    }

    .base-form__btn {
        width: 30%; 
    }

    .base__image-shoes{
        width: 165px;
        height: 165px;
        object-fit: cover;
    }

    .base-form {
        width: 66%;
    }
}

@media only screen and (max-width: 768px) {

    .base {
        grid-template-columns: repeat(2, 1fr);
        font-size: 0.8rem;
        gap: 0.8rem;
    }

    .base__item {
        margin-top: 1rem;
    }

    .base__box, .base__square {
        display: flex;
    }

    .base-body {
        width: 152px;
        height: 152px;
    }

    .base-form {
        width: 100%;
    } 
}

@media only screen and (max-width: 450px) {
    .base {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .base__box, .base__square {
        margin-left: 0;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        max-width: 100vw;
        padding-right: 15px;
        padding-left: 15px;
        margin-top: 0;
    }

    .base {
        display: none;
    }

    .base-mobile {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: start;
    }
    
    .base-cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 1rem;
        align-items: center;
        justify-items: center;
        grid-gap: 8px;
    }

    .base-body {
        width: 100%;
        grid-column: 1/3;
        position: relative;
    }

    .base-body__img {
        width: 99%;
        height: 206px;
        object-fit: cover;
        border-radius: 6px;
        position: relative;
        top: -52px;
    }

    .base-mobile__body-h2 {
        width: 169px;
        height: 72px;
        font-family: 'Poppins-SemiBold', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: #fff;
        margin-bottom: 1rem;
    }
    
    .base-mobile__body-p {
        font-family: 'Poppins-Medium', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.5px;
        line-height: 180%;
        color: #fff;
    }

    .base-mobile__body-h2 {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 2.3rem;
    }

    .base-mobile__body-p {
        position: absolute;
        z-index: 10;
        top: 5rem;
        left: 2.3rem;
    }

    .base-mobile__card {
        width: 175px;
        height: 282px;
        padding: 1rem;
        border: 1px solid #EBF0FF;
        border-radius: 4px;
    }

    .base-mobile__card-h2 {
        font-family: 'Poppins-SemiBold', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        color: #223263;
    }

    .base-mobile__card-stars {
        width: 12px;
        height: 12px;
        color: #FFC833;
        margin-top: 4px;
    }

    .base-mobile__card-prise {
        font-family: 'Poppins-SemiBold', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        color: var(--primary-color);
        margin-top: 1rem;
        display: block;
    }

    .base-mobile__card-priseline {
        font-family: 'Poppins-Medium', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        color: var(--light-blue-color);
        margin-top: 4px;
        text-decoration-line: line-through;
    }

    .base-mobil__card-percent {
        font-family: 'Poppins-SemiBold', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        color: var(--second-color);
        padding-left: 0.5rem;
    }

    .base-mobile__card-img  img {
        object-fit: cover;
    }
}

@media only screen and (max-width: 386px) {
    .base-mobile__card {
        width: 165px;
    }
}

@media only screen and (max-width: 366px) {

    .base-mobile__card {
        width: 155px;
        height: 51vh;
    }
}

@media only screen and (max-width: 356px) {
    .base-mobile {
        width: 100%;
        font-size: 0.8rem;
    }

    .base-mobile__card {
        height: 46vh;
    }

    .base-mobile__card-img {
        width: 100%;
    }
}

@media only screen and (max-width: 350px) {
    .base-mobile {
        width: 95%;
        font-size: 0.8rem;
    }

    .base-mobile__card {
        width: 157px;
        height: 46vh;
    }

}

@media only screen and (max-width: 346px) {

    .base-mobile__card {
        width: 155px;
    }

}

@media only screen and (max-width: 346px) {

    .base-mobile__card {
        width: 150px;
    }

}

@media only screen and (max-width: 336px) {
    .base-mobile {
        width: 90%;
        font-size: 0.8rem;
    }

    .base-mobile__card {
        width: 145px;
    }

}

@media only screen and (max-width: 326px) {
    .base-mobile__card {
        width: 140px;
    }

}

@media only screen and (max-width: 320px) {
   

    .base-mobile__card {
        width: 138px;
    }

    .base-mobile__card-img {
        width: 100%;
    }
}

@media only screen and (max-width: 316px) {
   
    .base-mobile__card {
        width: 135px;
    }
}

@media only screen and (max-width: 306px) {
   
    .base-mobile__card {
        width: 130px;
    }
}

@media only screen and (max-width: 296px) {
   
    .base-mobile__card {
        width: 125px;
    }
}

@media only screen and (max-width: 286px) {
   
    .base-mobile__card { 
        width: 120px;
    }    
}   

@media only screen and (max-width: 276px) {
   
    .base-mobile__card {
        width: 115px;
    }
}

@media only screen and (max-width: 266px) {
   
    .base-mobile__card {
        width: 105px;
    }
}

@media only screen and (max-width: 256px) {
   
    .base-mobile__card {
        width: 100px;
    }
}

@media only screen and (max-width: 246px) {
   
    .base-mobile__card {
        width: 98px;
    }
}

@media only screen and (max-width: 236px) {
   
    .base-mobile__card {
        width: 95px;
    }
}

@media only screen and (max-width: 226px) {
   
    .base-mobile__card {
        width: 85px;
    }
}
/* base css end*/
