.information {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.information_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 28rem;
  width: 924.5px;
  height: 383px;
  background: var(--color23);
  border-radius: 5px;
}
.information__line {
  width: 100%;
  height: 4.25px;
  background-color: var(--color24);
  position: relative;
}
.information__line span {
  width: 159.2px;
  height: 100%;
  position: absolute;
  left: 34.54px;
  background-color: var(--color22);
}
.information_innerMainBlock {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 85%;
}
.information_innerBlocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55rem;
}
.information_innerBlocks p,
.information_innerBlocks span {
  font-family: var(--poppins);
  font-size: 18px;
  margin-left: 3rem;
}
.information_innerBlocks:first-child {
  width: 54.5rem;
}
.information_innerBlocks:first-child p {
  cursor: pointer;
}
.information_innerBlocks:first-child p:hover {
  color: var(--color7);
}
.information_innerBlocks:first-child p:first-child {
  color: var(--color22);
}
.information_innerBlocks:first-child span {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.information_innerBlocks:first-child span:hover {
  color: var(--color7);
}
.information_innerBlocks:first-child span p {
  margin-left: 0.5rem;
  opacity: 25%;
  color: var(--color8);
}
.information_innerBlocks:last-child {
  flex-direction: column;
  width: 789px;
  height: 25rem;
}
.information_innerBlocks:last-child p {
  font-size: 12px;
  color: var(--color25);
  line-height: 21px;
  letter-spacing: 0.5px;
  margin: 0;
}
