@media (max-width: 1400px) {
  .container {
    max-width: 95vw;
  }
}
@media (max-width: 1200px) {
  .sneakers_mainBlock {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .sneakers_left_mainBlock {
    width: 40%;
    height: 60rem;
  }
  .sneakers_middle_mainBlock {
    width: 45%;
    height: 60rem;
    padding: 0 1rem;
  }
  .sneakers_right_mainBlock {
    width: 40%;
    height: 55rem;
  }
  .sneakers_rightInnerBlock p {
    margin-left: 5rem;
  }
  .sneakers_rightImgBlock {
    height: 45rem;
  }
  .sneakers_rightValueBlock {
    height: 6rem;
  }
  .sneakers_rightValueBlock span {
    height: 1rem;
    width: 11rem;
  }
  .sneakers_rightValueBlock span del {
    font-size: 2rem;
  }
  .sneakers_rightValueBlock p {
    font-size: 2rem;
    margin: 0;
  }
  .sneakers_rightStarsBlock {
    width: 9rem;
    height: 3rem;
  }
  .sneakers_rightStarsBlock i {
    width: 15px;
    height: 13.5px;
  }
  .sneakers_rightBelowBlock span {
    width: 4.5rem;
    height: 0.8rem;
  }
  .information {
    padding-top: 0rem;
  }
  .information_inner {
    margin-right: 13rem;
  }
}
@media (max-width: 1060px) {
  .sneakers_left_mainBlock {
    width: 45%;
  }
  .sneakers_middle_mainBlock {
    width: 51%;
  }
  .information_inner {
    margin-right: 1rem;
  }
}
@media (max-width: 940px) {
  .sneakers_mainBlock {
    justify-content: center;
  }
  .sneakers_left_mainBlock {
    width: 69rem;
    height: 75rem;
  }
  .sneakers_leftInnerBlock:first-child {
    width: 100%;
    height: 45rem;
  }
  .sneakers_leftInnerBlock:last-child {
    width: 90%;
  }
  .sneakers_leftInnerBlock:last-child img {
    width: 12.6rem;
    height: 11rem;
  }
  .sneakers_middle_mainBlock {
    width: 56rem;
    height: 65rem;
  }
  .sneakers_right_mainBlock {
    width: 67rem;
    height: auto;
  }
  .sneakers_rightInnerBlock p {
    font-size: 2.2rem;
    margin-left: 6.5rem;
  }
  .sneakers_rightImgBlock {
    height: 50rem;
  }
  .sneakers_rightValueBlock {
    height: 9rem;
    width: 20rem;
  }
  .sneakers_rightValueBlock span {
    width: 20rem;
    height: 4rem;
  }
  .sneakers_rightValueBlock p,
  .sneakers_rightValueBlock span del {
    font-size: 3.5rem;
    margin: 0;
  }
  .sneakers_rightStarsBlock {
    width: 18rem;
    height: 5rem;
  }
  .sneakers_rightStarsBlock i,
  .sneakers_rightStarsBlock i:last-child {
    width: 2.5rem;
    height: 2.5rem;
  }
  .sneakers_rightBelowBlock {
    padding: 0 15rem;
  }
  .sneakers_rightBelowBlock span {
    width: 7.5rem;
  }
  .sneakers__rightImage {
    height: 35rem;
  }
  .information_inner {
    width: 75rem;
  }
  .information_innerBlocks:last-child {
    width: 70rem;
  }
  .information_innerBlocks:last-child span {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .information {
    height: 60rem;
  }
  .information_inner {
    width: 55rem;
    height: 46rem;
  }
  .information_innerBlocks:first-child {
    width: 49rem;
  }
  .information_innerBlocks:last-child {
    width: 50rem;
    height: 31rem;
  }
}
@media (max-width: 615px) {
  .sneakers_left_mainBlock {
    width: 45rem;
    height: auto;
  }
  .sneakers_leftInnerBlock:first-child {
    width: 40rem;
    height: 30rem;
  }
  .sneakers_leftInnerBlock:last-child {
    width: 39rem;
  }
  .sneakers_leftInnerBlock:last-child img {
    width: 9rem;
    height: 9rem;
  }
  .sneakers_middle_mainBlock {
    width: 40rem;
    height: 71rem;
  }
  .sneakers_middle_socialBlock {
    flex-direction: column;
    height: 11rem;
    align-items: center;
  }
  .sneakers_right_mainBlock {
    width: 48rem;
    height: auto;
  }
  .sneakers_rightInnerBlock p {
    margin-left: 5rem;
  }
  .sneakers_rightImgBlock {
    height: auto;
  }
  .sneakers_rightStarsBlock {
    width: 12rem;
  }
  .sneakers_rightStarsBlock i,
  .sneakers_rightStarsBlock i:last-child {
    width: 2rem;
    height: 2rem;
  }
  .sneakers_rightValueBlock span {
    width: 13rem;
  }
  .sneakers_rightValueBlock p,
  .sneakers_rightValueBlock span del {
    font-size: 2.5rem;
    margin: 0;
  }
  .sneakers_rightBelowBlock {
    padding: 0 7rem;
  }
  .sneakers_rightBelowBlock span {
    width: 7rem;
  }
  .sneakers__rightImage {
    height: 30rem;
  }
}
@media (max-width: 575px) {
  .information_inner {
    width: 42rem;
    height: 62rem;
  }
  .information_innerBlocks:first-child {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .information_innerBlocks:last-child {
    width: 39rem;
    height: 40rem;
  }
}
@media (max-width: 450px) {
  .sneakers_left_mainBlock {
    width: 40rem;
    height: auto;
    margin-bottom: 20px;
  }
  .sneakers_leftInnerBlock:first-child {
    width: 30rem;
    height: 25rem;
  }
  .sneakers_leftInnerBlock:last-child {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    width: 90%;
    margin-top: 2rem;
  }
  .sneakers_middle_mainBlock {
    width: 30rem;
    padding: 0;
    height: 77rem;
  }
  .sneakers_middle_footerBlock {
    flex-direction: column;
    align-items: flex-start;
    height: 11rem;
  }
  .sneakers_right_mainBlock {
    width: 39rem;
    height: auto;
  }
  .sneakers_rightImgBlock {
    height: auto;
  }
  .sneakers_rightBelowBlock span {
    width: 5rem;
  }
  .sneakers__rightImage {
    height: 25rem;
  }
  .information_inner {
    width: 32rem;
    height: 73rem;
  }
  .information_innerBlocks:last-child {
    width: 29rem;
    height: 49rem;
  }
  .sneakers_priceBlock{
    width: 100%;
  }
}
@media (max-width: 400px) {

  .information{
    height: auto;
  }
  .sneakers_leftInnerBlock:last-child{
    width: 100%;
  }
  .sneakers_middle_mainBlock{
    height: auto;
    margin-bottom: 20px;
  }
  .information_inner{
    width: auto;
    height: auto;
  }
  .information__line{
    margin-bottom: 20px;
  }
}
