* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.related-products-head-title {
  color: #22262a;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  font-family: "Poppins-Medium", sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 88px;
  margin-top: 77px;
}

.related-products-cards {
  display: flex;
  align-items: center;
  margin-bottom: 87px;
  justify-content: space-evenly;
}

.related-products-card {
  border: 3px solid #f6f7f8;
  border-radius: 5px;
  margin-left: 22px;
}

.card1,
.card2,
.card3,
.card4 {
  margin-bottom: 88px;
}

.related-products-card:first-of-type {
  margin-left: 10px;
}

.related-products-img img {
  width: 299px;
  height: 272px;
  border-radius: 5px;
  position: relative;
}

.related-products-awesome {
  position: absolute;
  top: 1215px;
  left: auto;
  background-color: #FF4858;
  width: 64px;
  text-align: center;
  color: #ffffff;
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding: 5px 13px;
  border-radius: 2px;
}

.related-products-title {
  margin-top: 10px;
  margin-bottom: 6px;
  color: #223263;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}

.related-products-rates {
  text-align: center;
  margin-bottom: 6px;
}

.related-products-rates img {
  margin-left: 13px;
  width: 15px;
  height: 16px;
  text-align: center;
}

.related-products-rates img:first-of-type {
  margin-left: 13px;
}

.related-products-prices {
  display: flex;
  margin-left: 48px;
  align-items: center;
  margin-bottom: 17px;
}

.related-products-price {
  font-weight: 700;
  display: inline-block;
  font-family: "Poppins-Regular", sans-serif;
  color: #40BFFF;
  letter-spacing: 0.5px;
  font-size: 18px;
  line-height: 180%;
  margin-right: 13px;
}

.related-products-previous-price-wrap {
  display: flex;
}

.related-products-previous-price {
  color: #9098B1;
  font-family: "Poppins-Regular", sans-serif;
  font-weight: 400;
  margin-right: 8px;
  letter-spacing: 0.5px;
  text-decoration-line: line-through;
  font-size: 14px;
  line-height: 150%;
}

.related-products-discount {
  font-family: "Poppins-Regular", sans-serif;
  font-weight: 700;
  color: #FB7181;
  letter-spacing: 0.5px;
  font-size: 14px;
  line-height: 150%;
}

/* RELATED PRODUCTS MEDIA QUERY START */
@media (max-width: 1285px) {
  .related-products-cards {
    justify-content: space-evenly;
  }

  .related-products-awesome {
    position: absolute;
    top: 1215px;
    left: auto;
  }

  .related-products-img img {
    width: 250px;
    height: 222px;
  }

  .related-products-prices {
    margin-left: 26px;
  }
}

@media (max-width: 1200px) {
  .related-products-awesome {
    top: 1772px;
  }
}

@media (max-width: 1110px) {
  .related-products-img img {
    width: 228px;
    height: 200px;
  }

  .related-products-prices {
    margin-left: 12px;
  }
}


@media (max-width: 1090px) {
  .related-products-cards {
    justify-content: space-evenly;
    flex: auto;
  }

  .related-products-img img {
    width: 200px;
    height: 172px;
  }

  .related-products-title {
    font-size: 17px;
    width: 180px;
  }

  .related-products-prices {
    flex-direction: column;
    margin-left: -45px;
  }

  .related-products-price {
    margin-left: -35px;
  }

  .related-products-rates {
    text-align: left;
    margin-left: 5px;
  }
}

@media (max-width: 950px) {
  .related-products-cards {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .related-products-card:first-of-type {
    margin-left: 20px;
  }

  .card1,
  .card2 {
    margin-bottom: 30px;
  }

  .car3,
  .car4 {
    margin-bottom: 88px;
  }

  .related-products-img img {
    width: 299px;
    height: 272px;
  }

  .related-products-title {
    font-size: 18px;
    width: auto;
  }

  .related-products-rates {
    text-align: center;
  }

  .related-products-prices {
    flex-direction: row;
    margin-left: 85px;
  }

  .related-products-awesome {
    top: 1773px;
  }
}

@media (max-width: 940px) {
  .related-products-awesome {
    top: 2645px;
  }
}

@media (max-width: 768px) {
  .related-products-awesome {
    top: 2745px;
  }

  .related-products-head-title {
    margin-top: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 730px) {
  .related-products-card {
    width: 295px;
  }

  .related-products-img img {
    width: 295px;
  }
}

@media (max-width: 709px) {
  .related-products-card {
    width: 290px;
  }

  .related-products-img img {
    width: 290px;
  }
}

@media (max-width: 698px) {
  .related-products-card {
    width: 280px;
  }

  .related-products-img img {
    width: 280px;
  }
}

@media (max-width: 691px) {
  .related-products-prices {
    margin-left: 60px;
  }
}

@media (max-width: 677px) {
  .related-products-card {
    width: auto;
  }

  .related-products-img img {
    width: 250px;
  }
}

@media (max-width: 650px) {
  .related-products-prices {
    margin-left: 60px;
  }
}

@media (max-width: 627px) {
  .related-products-card {
    width: auto;
  }

  .related-products-img img {
    width: 240px;
  }
}

@media (max-width: 615px) {
  .related-products-awesome {
    top: 2401px;
  }

  .related-products-card:first-of-type {
    margin-left: 0;
  }

  .card3 {
    margin-left: -2px;
  }
}

@media (max-width: 583px) {
  .related-products-img img {
    width: 235px;
  }

  .related-products-prices {
    margin-left: 50px;
  }
}

@media (max-width: 575px) {
  .related-products-img img {
    width: 225px;
    height: 194px;
  }

  .related-products-head-title {
    margin-top: 150px;
  }

  .related-products-awesome {
    top: 2550px;
  }

  .related-products-prices {
    margin-left: 46px;
  }
}

@media (max-width: 560px) {
  .related-products-img img {
    width: 200px;
    height: 172px;
    padding: 5px;
  }

  .related-products-title {
    width: 180px;
    text-align: left;
    margin-left: 20px;
  }

  .related-products-rates {
    text-align: left;
  }

  .related-products-prices {
    flex-direction: column;
    margin-left: -40px;
  }

  .related-products-awesome {
    display: none;
  }
}

@media (max-width: 498px) {
  .related-products-card {
    width: 200px;
  }
  .related-products-img img {
    width: 195px;
    height: auto;
  }
}

@media (max-width: 486px) {
  .related-products-card {
    width: 195px;
  }
  .related-products-img img {
    width: 190px;
    height: auto;
  }
}

@media (max-width: 475px) {
  .related-products-card {
    width: 190px;
  }
  .related-products-img img {
    width: 185px;
    height: auto;
  }

  .related-products-prices {
    margin-left: -25px;
  }
}

@media (max-width: 473px) {
  .related-products-head-title {
    font-size: 25px;
  }

  .related-products-img img {
    width: 170px;
    height: 142px;
  }

  .related-products-title {
    font-size: 16px;
    margin-left: 10px;
  }

  .related-products-card {
    width: 180px;
  }

  .card1,
  .card2 {
    margin-bottom: 15px;
  }

  .related-products-rates {
    margin-left: -5px;
  }

  .related-products-rates img {
    margin-left: 5px;
  }

  .related-products-prices {
    margin-left: -30px;
  }
}

@media (max-width: 460px) {
  .related-products-awesome {
    display: none;
  }
}

@media (max-width: 450px) {
  .related-products-head-title {
    margin-top: 210px;
    margin-bottom: 10px;
  }
}

@media (max-width: 444px) {
  .related-products-card {
    width: 175px;
  }

  .related-products-img {
    width: 185px;
  }
}

@media (max-width: 440px) {
  .related-products-img img {
    width: 170px;
    height: 170px;
    padding: 16px 16px 8px 16px;
  }

  .related-products-rates {
    margin-left: 5px;
  }

  .related-products-title {
    margin-left: 20px;
  }

  .related-products-title {
    width: 150px;
  }

  .related-products-rates img {
    margin-left: 5px;
  }

  .related-products-prices {
    margin-left: -10px;
  }

  .mt {
    margin-top: -70px;
  }
}

@media (max-width: 433px) {
  .related-products-card {
    width: 170px;
  }
  .related-products-img img {
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 423px) {
  .related-products-card {
    width: 165px;
  }

  .related-products-prices {
    margin-left: 5px;
  }
}

@media (max-width: 421px) {
  .related-products-head-title {
    font-size: 22px;
  }

  .related-products-card {
    width: 165px;
  }

  .related-products-img img {
    width: 155px;
    height: 155px;
    padding-left: 18px;
  }

  .related-products-title {
    font-size: 14px;
  }

  .related-products-prices {
    margin-left: 0px;
  }
}

@media (max-width: 412px) {
  .related-products-card {
    width: 160px;
  }

  .related-products-prices {
    margin-left: 8px;
  }
}

@media (max-width: 402px) {
  .related-products-card {
    width: 158px;
  }
}

@media (max-width: 400px) {
  .related-products-head-title {
    margin-top: 100px;
  }
}

@media (max-width: 410px) {
  .related-products-title {
    width: 130px;
  }

  .related-products-img img {
    width: 150px;
    height: 150px;
  }

  .related-products-title {
    font-size: 12px;
  }

  .related-products-prices {
    margin-left: 3px;
  }
}

@media (max-width: 391px) {
  .related-products-head-title {
    font-size: 20px;
  }

  .related-products-card {
    width: 155px;
  }

  .related-products-img img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 371px) {
  .related-products-card {
    width: 145px;
  }

  .related-products-img img {
    width: 140px;
    height: 140px;
  }

  .related-products-title {
    font-size: 12px;
  }

  .related-products-rates img {
    width: 12px;
    height: 12px;
  }

  .related-products-prices {
    margin-left: -5px;
  }

  .related-products-previous-price-wrap {
    margin-left: -5px;
  }

  .related-products-price {
    font-size: 12px;
  }

  .related-products-previous-price,
  .related-products-discount {
    font-size: 10px;
  }
}

@media (max-width: 351px) {
  .related-products-card {
    width: 143px;
  }
  .related-products-img img {
    width: 137px;
    height: 137px;
  }
}

@media (max-width: 347px) {
  .related-products-card {
    width: 140px;
  }
  .related-products-img img {
    width: 135px;
    height: 135px;
  }

  .related-products-prices {
    margin-left: 0px;
  }

  .related-products-title {
    font-size: 10px;
    width: 120px;
  }
}

@media (max-width: 342px) {
  .related-products-card {
    width: 138px;
  }

  .related-products-prices {
    margin-left: 5px;
  }
}

@media (max-width: 337px) {
  .related-products-card {
    width: 135px;
  }

  .related-products-img img {
    width: 133px;
    height: 133px;
  }
}

@media (max-width: 331px) {
  .related-products-card {
    width: 133px;
    display: inline-block;
  } 

  .related-products-img img {
    width: 130px;
    height: 130px;
  }

  .card2 .related-products-prices {
    margin-top: -10px;
  }
}

@media (max-width: 330px) {
  .related-products-prices {
    margin-left: 10px;
  }

  .related-products-rates img {
    margin-left: 2px;
    width: 12px;
    height: 12px;
  }

  .related-products-previous-price-wrap {
    margin-left: -15px;
  }

  .related-products-prices {
    margin-left: 20px;
  }

  .related-products-price {
    font-size: 12px;
    margin-left: -45px;
  }

  .related-products-previous-price,
  .related-products-discount {
    font-size: 10px;
  }

  .card2 .related-products-prices {
    margin-top: 0px;
  }
}

@media (max-width: 327px) {
  .related-products-card {
    width: 132px;
  }
}

@media (max-width: 325px) {
  .related-products-card {
    width: 131px;
  }
}

@media (max-width: 323px) {
  .related-products-card {
    width: 130px;
  }

  .related-products-img img {
    padding-right: 20px;
  }
}

@media (max-width: 321px) {
  .related-products-card {
    width: 129px;
  }

  .related-products-img img {
    padding-right: 20px;
  }

  .related-products-title {
    width: 120px;
  }
}

@media (max-width: 320px) {
  .related-products-img img {
    width: 133px;
    height: 133px;
    padding-right: 25px;
  }

  .related-products-prices {
    margin-left: 20px;
  }
}
/* RELATED PRODUCTS MEDIA QUERY END */